Sakshi Bhavsar (sgb9086)

Data Science Bootcamp Week 1 HomeWork

Solve the following problems:

1.⁠ ⁠Display Fibonacci Series upto 10 terms

In [22]:
def fibonacci(n):
    fib_series = [0, 1]
    for i in range(n - 2):
        next_element = fib_series[-1] + fib_series[-2]
        fib_series.append(next_element)
    return fib_series

print("Fibonacci Series:", fibonacci(10))

Fibonacci Series: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

2.⁠ ⁠Display numbers at the odd indices of a list

In [24]:
def odd_index_numbers(lst):
    return [lst[i] for i in range(1, len(lst), 2)] #increment by 2 to get the odd indices
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Numbers at odd indices: ", odd_index_numbers(lst))

Numbers at odd indices:  [1, 3, 5, 7, 9]

3. Count the number of different words in the given text

In [25]:
def count_unique_words(text):
    words = text.lower().split()
    return len(set(words))

string = """I have provided this text to provide tips on creating interesting paragraphs.

First, start with a clear topic sentence that introduces the main idea.

Then, support the topic sentence with specific details, examples, and evidence.

Vary the sentence length and structure to keep the reader engaged.

Finally, end with a strong concluding sentence that summarizes the main points.

Remember, practice makes perfect!"""

print("Number of different words:", count_unique_words(string))

Number of different words: 47

4. Write a function count_vowels(word) that returns the number of vowels in the word

In [27]:
def count_vowels(word):
    # vowels = "aeiouAEIOU"
    # return sum(1 for char in word if char in vowels)
    return sum(word.count(vowel) for vowel in "aeiouAEIOU")

print("Vowel count in 'science':", count_vowels("science"))

Vowel count in 'science': 3

5. Iterate through a list of animals and print each one in all caps

In [28]:
animals=['tiger', 'elephant', 'monkey', 'zebra', 'panther']
for animal in animals:
    print(animal.upper())

TIGER
ELEPHANT
MONKEY
ZEBRA
PANTHER

6. Iterate from 1 to 20, printing each number and whether it's odd or even

In [30]:
for i in range(1, 21):
  if(i % 2 == 0):
    print(i, " : Even")
  else:
    print(i, " : Odd")

1  : Odd
2  : Even
3  : Odd
4  : Even
5  : Odd
6  : Even
7  : Odd
8  : Even
9  : Odd
10  : Even
11  : Odd
12  : Even
13  : Odd
14  : Even
15  : Odd
16  : Even
17  : Odd
18  : Even
19  : Odd
20  : Even

7. Function sum_of_integers(a, b) that takes two integers and returns their sum

In [31]:
def sum_of_integers(a, b):
  return a+b;

num1 = int(input("Enter first integer: "))
num2 = int(input("Enter second integer: "))
print("Sum: ", sum_of_integers(num1, num2))

Enter first integer: 20
Enter second integer: 75
Sum:  95